*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Kanit', sans-serif;    font-size: 16px;
}

body{
    min-height: 70vh;
    background-color: greenyellow;
}
.menu{
    display: flex;
    width: 100%;
    background-color: #000;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 2rem;
}


 a{
    color: azure;
    text-decoration: none;
    background-color: rgb(1, 128, 43);
    padding: 0.5rem;
    font-size: 2rem;
}

  a:hover {
    background-color: rgb(0, 195, 255);
    color: black;
    color: azure;
    font-size: 2rem;
    border-radius: 1rem;
  }



     .display-00{
        height: 100%;
        margin-top:15vh;
height: 100%;
        background-color: rgb(3, 9, 88);
        align-items: center;
        justify-content: center;
        margin-bottom: 150px;
        padding: 20px;

     }
  .header__box h1{
        display: flex;
        width: 100%;
        height: 10vh;
       text-align: center;
        font-size: 2rem;
        font-weight: 4rem;
       background-color: rgb(74, 147, 255);
color: azure;  
justify-content: center;
align-self: center;
justify-content: center;
align-content: center;
align-items: center;

}


form p {
    display: inline;
    width: 100%;
    font-size: 1.2rem;
    color: red;
    background-color: gold;
}
form fieldset legend{
 background-color: gold;
 font-size: 2rem;
}
.articleM00{
min-width: 361px;
width: 30%;
min-height: 200px;
height: 50%;
background-color:gold;
margin: 20px auto;
    }
     .display-01{
        
         display: flex;
         flex-flow: row wrap;

         min-height: 400px;
         margin: 30px auto;
         width: 90%;
         justify-content: space-around;
         align-items: center;
         align-self: center;
         border-radius: 15px;
         background-color: black;
         padding: 100px auto;
                  height: 100%;

     }


     form{
        display: flex;
        flex-flow: row wrap;
        width: 90%;
        padding: 2rem;
        align-self: center;
        background-color: yellow;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 30px;
        justify-content: center;
        margin-left: 5%;
     }
     form input[type="text"],      form input[type="number"]{
        height: 40px;
        width: 90%;
        border-radius: 15px;
        margin: 30px auto;
     }

     form input[type="checkbox"]{
        height: 40px;
        width: 50px;
        border-radius: 15px;
        margin: 30px auto;
     }
     form input[type="number"]{
width: 70px;
height: 36px;
padding: 0.2rem;  
text-align: center;

}

     form .p__form-input{
        display: inline;
        width: 50%;
     }
     form .p__form-input input[type="checkbox"]{
        width: 20px;
        height: 16px;
        margin: 10px auto;
             }
form fieldset{
    background-color:#fffacd;
    padding: 1rem;
    width: 99%;
    margin: 30px auto;
}

.fieldset-1{
    width: 47%;
    min-width: 300px;
}
 
.resposta{
    display: flex;
    flex-flow: column wrap;
    font-size: 1.5rem;
    align-self: center;
    background-color:#fffacd;


    text-align: center;
    min-width: 200px ;

}
     footer{
display: block;
        position: fixed;

background-color: red;
        background-color: black;
        color: white;
        height: 5vh;
        bottom: 0px;
      }

      .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
      }
      
      .button:hover {background-color: #3e8e41}
      
      .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }